<form (ngSubmit)="submeterFormulario()" class="row g-3 shadow border" #formulario="ngForm">
    <div class="col-md-4">
        <label for="validationServer01" class="form-label">Nome</label>
        <input type="text" class="form-control"
            [ngClass]="{'is-valid': firstname.valid, 'is-invalid':firstname.invalid}" name="firstname" [ngModel]="''"
            #firstname="ngModel" required>
        <div class="valid-feedback">
            Nome válido.
        </div>
        <div id="validationServerFristnameFeedback" class="invalid-feedback">
            Por favor coloque um nome valido.
        </div>
    </div>
    <div class="col-md-4">
        <label for="validationServer02" class="form-label">Apelido</label>
        <input type="text" class="form-control" [ngClass]="{'is-valid': lastname.valid, 'is-invalid':lastname.invalid}"
            name="lastname" [ngModel]="''" #lastname="ngModel" required>
        <div class="valid-feedback">
            Nome válido.
        </div>
        <div id="validationServerLastnameFeedback" class="invalid-feedback">
            Por favor coloque um apelido.
        </div>
    </div>
    <div class="col-md-4">
        <label for="validationServerUsername" class="form-label">Utilizador Instagram</label>
        <div class="input-group has-validation">
            <span class="input-group-text" id="inputGroupPrepend3">@</span>
            <input type="text" class="form-control"
                aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback"
                [ngClass]="{'is-valid': username.valid, 'is-invalid':username.invalid}" name="username" [ngModel]="''"
                #username="ngModel" required>
            <div id="validationServerUsernameFeedback" class="invalid-feedback">
                Por favor escolha um nome de utilizador.
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <label for="validationServer03" class="form-label">Morada</label>
        <input type="text" class="form-control is-invalid" aria-describedby="validationServer03Feedback" name="morada"
            [ngClass]="{'is-valid': morada.valid, 'is-invalid':morada.invalid}" #morada="ngModel" ngModel required>
        <div id="validationServer03Feedback" class="invalid-feedback">
            Por favor colocar uma cidade valida.
        </div>
    </div>
    <div class="col-md-3">
        <label for="validationServer04" class="form-label">Motivo de Contacto</label>
        <select class="form-select is-invalid" aria-describedby="validationServer04Feedback" name="contact"
            [ngClass]="{'is-valid': contact.valid, 'is-invalid':contact.invalid}" #contact="ngModel" ngModel required>
            <option selected disabled value="">Escolha uma opção...</option>
            <option value="minho">Apoio ao cliente</option>
            <option value="compras servicos garantias">Compras, Serviços, Garantias</option>
            <option value="livro de reclamacoes">Livro de Reclamações</option>
            <option value="entregas">Entregas</option>
            <option value="atendimento geral">Atendimento Geral</option>
        </select>
        <div id="validationServer04Feedback" class="invalid-feedback">
            Por favor selecione uma opção.
        </div>
    </div>
    <div class="col-md-3">
        <label for="validationServer05" class="form-label">Codigo Postal</label>
        <input type="text" class="form-control is-invalid" id="validationServer05"
            aria-describedby="validationServer05Feedback" name="zip"
            [ngClass]="{'is-valid': zip.valid, 'is-invalid':zip.invalid}" #zip="ngModel" pattern="[0-9]{4}" ngModel
            required>
        <div id="validationServer05Feedback" class="invalid-feedback">
            Por favor insira um código postal valido.
        </div>
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Descrição do Contacto</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="text"
            [ngClass]="{'is-valid': text.valid, 'is-invalid':text.invalid}" #text="ngModel" ngModel required></textarea>
            <div id="validationServer05Feedback" class="invalid-feedback">
                Por favor escreve uma breve descrição do motivo de seu contacto.
            </div>
    </div>
    <div class="col-12">
        <div class="form-check">
            <input class="form-check-input is-invalid" type="checkbox" value="" id="invalidCheck3"
                aria-describedby="invalidCheck3Feedback" name="checkbox"
                [ngClass]="{'is-valid': checkbox.valid, 'is-invalid':checkbox.invalid}" #checkbox="ngModel" ngModel
                required>
            <label class="form-check-label" for="invalidCheck3">
                Concordo com os termos de utilização.
            </label>
            <div id="invalidCheck3Feedback" class="invalid-feedback">
                Precisa de concordar com os termos antes de submeter.
            </div>
        </div>
    </div>
    <div class="col-12">
        <button class="btn btn-primary" type="submit" [disabled]="!formulario.valid">Enviar</button>
    </div>
</form>