<div>
    <div class="container">
        <h1>
            Banco de imagens, fotografias de stock, ilustrações
        </h1>
        <p>
            Num banco de imagens, vai encontrar sempre o que precisa - imagens, vídeos,
            vetores, ilustrações e até músicas livres de royalties. Descubra um site de imagens para encontrar
            fotografias de stock, vídeos HD / 4K, música profissional e coleções temáticas para todos os seus projetos
            criativos. Somos dignos da confiança de grandes multinacionais que recorrem ao nosso banco de imagens para
            os seus conteúdos visuais.
        </p>
        <p>
            Bancos de imagens são serviços onde é possível obter imagens ou fotografias prontas para uso em trabalhos da
            área de design, publicidade e propaganda.
            O conceito foi criado nos anos 90, e até hoje é muito usado por revistas, jornais, e por designers que
            precisam de imagens; porém é criticado por alguns profissionais, que consideram as imagens prontas "sem
            criatividade" e "sem personalidade".
        </p>
        <h2>
            Serviços
        </h2>
        <p>
            Alguns desses serviços são royalty-free, ou seja, as fotos obtidas (tanto por compra quanto por download,
            nos serviços grátis) podem ser usadas diversas vezes. Outros requerem o pagamento de uma taxa cada vez que a
            imagem é usada, e há um limite de usos para a imagem.
        </p>
        <h2>
            Clientes
        </h2>
        <p>
            São clientes tradicionais dos bancos de imagens, as editoras, agências de publicidade, departamentos de
            marketing e comunicação de empresas, jornais, revistas, empresas de web design e artistas gráficos, que usam
            fotografia de stock para suprir as necessidades dos seus trabalhos criativos. Hoje por conta da internet,
            micro empresários, profissionais liberais, membros de redes sociais virtuais e pessoas físicas surgem como
            novos clientes que atraem atenção dos contribuidores e distribuidores.
        </p>
    </div>
</div>