<div class="input-group searchContainer">
    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
        aria-describedby="search-addon" [(ngModel)]="search_input" />
    <button type="button" class="btn btn-outline-primary" (click)="search_query()">search</button>
</div>


<div class="outside">
    <div *ngIf="latest_or_search">
        <div class="card" *ngFor="let obj of objs | paginate: { itemsPerPage: 8, currentPage: p}">
            <div class="container-img">
                <img class="card-img-top" src="{{obj.params.urls.raw + '&fit=crop&w=250&h=200'}}">
                <a (click)="favoritar(obj.params.id)" class="fav-a"><i class="fa fa-star" id={{obj.params.id}} name="fav" style="color: lightgrey;" *ngIf="!obj.favorito"></i></a>
                <a (click)="favoritar(obj.params.id)" class="fav-a"><i class="fa fa-star" id={{obj.params.id}} name="fav" style="color: yellow;" *ngIf="obj.favorito"></i></a>
            </div>
            <div class="card-body">
                <p class="description" *ngIf="obj.params.description != null">{{obj.params.description}}</p>
                <p class="description" *ngIf="obj.params.alt_description != null">{{obj.params.alt_description}}</p>
                <p class="description" *ngIf="this.obj.params.alt_description == null && this.obj.params.description == null">No title</p>
                <p class="created_at">{{obj.params.created_at}}</p>
            </div>
            <a class="btn btn-primary" routerLink="/details/{{obj.params.id}}" (click)="details_img(obj.params.id)">Details</a> 
        </div>
    </div>
    <div *ngIf="!latest_or_search">
        <div class="card"
            *ngFor="let obj of objs | paginate: { itemsPerPage: 8, currentPage: p}">
            <div class="container-img">
                <img class="card-img-top" src="{{obj.params.urls.raw + '&fit=crop&w=250&h=200'}}">
                <a (click)="favoritar(obj.params.id)" class="fav-a"><i class="fa fa-star" id={{obj.params.id}} name="fav" style="color: lightgrey;" *ngIf="!obj.favorito"></i></a>
                <a (click)="favoritar(obj.params.id)" class="fav-a"><i class="fa fa-star" id={{obj.params.id}} name="fav" style="color: yellow;" *ngIf="obj.favorito"></i></a>
            </div>
            <div class="card-body">
                <p class="description" *ngIf="obj.params.description != null">{{obj.params.description}}</p>
                <p class="description" *ngIf="obj.params.description == null">{{obj.params.alt_description}}</p>
                <p class="created_at">{{obj.params.created_at}}</p>
            </div>
            <a class="btn btn-primary" routerLink="/details/{{obj.params.id}}" (click)="details_img(obj.params.id)">Details</a>
            
        </div>
    </div>
</div>
<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="title">
            <span class="error-title">Erro de Pesquisa</span>
            <span class="close" (click)="closeModal()">&times;</span>
        </div>
        <p style="margin: auto;">Pesquisa vazia</p>
    </div>
</div>

<pagination-controls (pageChange)="p = $event" class="pageChange"></pagination-controls>
